<form method="post">

    <label>Id: </label><br />
    <input type="number" name="Id" /><br />

    <label>Title: </label><br />
    <input type="text" name="Title" /><br />

    <label>ReleaseDate: </label><br />
    <input type="date" name="ReleaseDate"/><br />

    <label>Image: </label><br />
    <input type="text" name="Image"/><br />

    <label>Description: </label><br />
    <input type="text" name="Description"/><br />

    <label>AuthorFullName: </label><br />
    <input type="text" name="AuthorFullName"/><br />

    <label>Price: </label><br />
    <input type="number" name="Price"/><br />

    <label>BooksSold: </label><br />
    <input type="number" name="BooksSold"/><br />
    <input type="submit" value="Add">
</form>
